In [1]:
import pandas as pd

df = pd.read_csv('trucks.csv')
df

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
0,2470,Truck,2023-11-18T22:39:41,137,38.593430,-77.316719,Flatbed,Long
1,2471,Truck,2023-11-18T22:39:54,178,32.974937,-81.380074,Flatbed,Long
2,2472,Truck,2023-11-18T22:40:07,260,35.901966,-84.565666,Flatbed,Short
3,2473,Truck,2023-11-18T22:41:09,370,40.938065,-76.038811,Reefer,Long
4,2474,Truck,2023-11-18T22:43:53,382,40.671616,-73.801208,Flatbed,Short
5,2475,Truck,2023-11-18T22:44:31,241,38.204903,-85.329636,Flatbed,Long
6,2476,Truck,2023-11-18T22:45:09,306,43.626389,-70.333656,Van,Short
7,2477,Truck,2023-11-18T22:45:41,168,40.108555,-74.718529,Reefer,Short
8,2478,Truck,2023-11-18T22:46:09,370,40.912712,-76.020203,Reefer,Long
9,2479,Truck,2023-11-18T22:47:03,265,36.838593,-84.163223,Reefer,Short
10,2480,Truck,2023-11-18T22:48:02,110,35.623184,-85.875710,Van,Long
11,2481,Truck,2023-11-18T22:48:20,227,34.188354,-83.584572,Flatbed,Short
12,2482,Truck,2023-11-18T22:48:28,273,33.594257,-86.880989,Flatbed,Short
13,2483,Truck,2023-11-18T22:48:40,259,37.376488,-79.911034,Reefer,Short
14,2484,Truck,2023-11-18T22:48:58,204,36.775928,-86.480553,Reefer,Long
15,2485,Truck,2023-11-18T22:49:54,178,32.936886,-81.526169,Flatbed,Long
16,2486,Truck,2023-11-18T22:50:40,160,39.749763,-83.321503,Van,Long
17,2487,Truck,2023-11-18T22:51:11,370,40.880959,-76.002052,Reefer,Long
18,2488,Truck,2023-11-18T22:51:15,120,39.972504,-81.861320,Reefer,Short
19,2490,Truck,2023-11-18T22:53:31,266,42.447124,-83.074959,Van,Long
20,2491,Truck,2023-11-18T22:53:52,382,40.664478,-73.768486,Flatbed,Short
21,2492,Truck,2023-11-18T22:54:33,241,38.242867,-85.503654,Flatbed,Long
22,2493,Truck,2023-11-18T22:55:21,286,36.070248,-79.974190,Van,Short
23,2494,Truck,2023-11-18T22:55:34,189,40.024715,-75.603569,Flatbed,Long
24,2495,Truck,2023-11-18T22:57:19,328,40.542358,-75.421822,Reefer,Long
25,2496,Truck,2023-11-18T22:58:03,238,42.132271,-72.051010,Reefer,Short
26,2497,Truck,2023-11-18T22:59:24,353,42.473766,-79.276031,Flatbed,Short
27,2498,Truck,2023-11-18T22:59:27,290,39.569466,-76.139107,Van,Short
28,2499,Truck,2023-11-18T22:59:35,241,38.293682,-85.542076,Flatbed,Long
29,2500,Truck,2023-11-18T22:59:56,237,37.807678,-80.408539,Van,Short

In [2]:
serie = df['truckId'].value_counts()
serie

370    3
241    3
382    2
178    2
137    1
160    1
290    1
353    1
238    1
328    1
189    1
286    1
266    1
120    1
259    1
204    1
273    1
227    1
110    1
265    1
168    1
306    1
260    1
237    1
Name: truckId, dtype: int64

In [3]:
df.loc[df['truckId'] == 366]

Empty DataFrame
Columns: [seq, type, timestamp, truckId, positionLatitude, positionLongitude, equipType, nextTripLengthPreference]
Index: []

In [5]:
df = pd.read_csv('notifications.csv')
df

,timestamp,profit,distance,wage,truck_id,load_id
0,2023-11-18T12:20:12,272.244107,527.359343,33.555615,354,10017
1,2023-11-18T12:20:55,210.284721,507.040057,26.957450,354,10332
2,2023-11-18T12:20:55,303.694640,439.351710,44.930181,352,10332
3,2023-11-18T12:27:15,349.191136,688.991930,32.942946,328,10208
4,2023-11-18T12:27:26,173.050102,526.775288,21.353045,169,10942
...,...,...,...,...,...,...
14916,2023-11-18T22:59:35,539.547583,768.443780,45.638463,241,10011
14917,2023-11-18T22:59:35,555.541409,901.781587,40.043168,241,11044
14918,2023-11-18T22:59:35,527.661575,758.940887,45.191929,241,10169
14919,2023-11-18T22:59:35,295.227651,1017.950977,18.851396,241,10964
14920,2023-11-18T22:59:56,546.313343,183.830911,193.168642,237,10101