In [1]:
import pandas as pd

df = pd.read_csv('trucks.csv')
df

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
0,15,Truck,2023-11-18T08:12:28,101,34.294167,-85.879997,Reefer,Long
1,16,Truck,2023-11-18T08:19:59,134,39.913216,-86.210175,Flatbed,Short
2,17,Truck,2023-11-18T08:20:41,121,36.077549,-87.120148,Van,Short
3,19,Truck,2023-11-18T08:28:02,106,32.505447,-85.605026,Van,Long
4,20,Truck,2023-11-18T08:29:42,147,35.794121,-86.377892,Flatbed,Long
...,...,...,...,...,...,...,...,...
1995,2496,Truck,2023-11-18T22:58:03,238,42.132271,-72.051010,Reefer,Short
1996,2497,Truck,2023-11-18T22:59:24,353,42.473766,-79.276031,Flatbed,Short
1997,2498,Truck,2023-11-18T22:59:27,290,39.569466,-76.139107,Van,Short
1998,2499,Truck,2023-11-18T22:59:35,241,38.293682,-85.542076,Flatbed,Long
1999,2500,Truck,2023-11-18T22:59:56,237,37.807678,-80.408539,Van,Short

In [2]:
serie = df['truckId'].value_counts()
serie

366    19
106    14
292    14
110    14
331    14
       ..
123     1
400     1
197     1
219     1
222     1
Name: truckId, Length: 322, dtype: int64

In [3]:
df.loc[df['truckId'] == 163]

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
144,230,Truck,2023-11-18T10:13:14,163,39.345943,-84.611092,Van,Long
221,348,Truck,2023-11-18T10:53:18,163,39.058472,-84.469650,Van,Long
988,1450,Truck,2023-11-18T16:09:41,163,39.803234,-83.208191,Van,Long
1092,1575,Truck,2023-11-18T16:49:44,163,40.224995,-82.929070,Van,Long
1215,1709,Truck,2023-11-18T17:29:50,163,40.777355,-82.416084,Van,Long
1418,1912,Truck,2023-11-18T18:38:20,163,41.035187,-81.755264,Van,Long
1466,1961,Truck,2023-11-18T18:53:19,163,41.036072,-81.504890,Van,Long
1816,2316,Truck,2023-11-18T21:20:21,163,41.204025,-79.921600,Van,Long
1893,2393,Truck,2023-11-18T22:00:23,163,41.170616,-79.101173,Van,Long
1952,2452,Truck,2023-11-18T22:30:25,163,41.083035,-78.506371,Van,Long

In [4]:
df = pd.read_csv('notifications.csv')
df

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,truck_id,load_id
0,2023-11-18T10:18:13,1750.0,608.209256,827.384597,47.781409,114,10166
1,2023-11-18T10:27:48,1750.0,345.158695,1018.000946,22.038600,142,10166
2,2023-11-18T10:28:47,1000.0,159.445536,609.097438,17.015274,125,10948
3,2023-11-18T10:30:03,1656.0,337.449763,955.471186,22.956458,206,10308
4,2023-11-18T10:33:59,1000.0,322.498637,490.943016,42.698258,197,10948
...,...,...,...,...,...,...,...
9533,2023-11-18T22:59:27,465.0,237.587203,164.791882,93.713162,290,10002
9534,2023-11-18T22:59:27,600.0,326.859221,197.928100,107.341248,290,10499
9535,2023-11-18T22:59:27,332.5,191.260079,102.347769,121.467281,290,10009
9536,2023-11-18T22:59:35,800.0,386.256064,299.814446,83.740609,241,11019
9537,2023-11-18T22:59:56,800.0,546.313343,183.830911,193.168642,237,10101

In [5]:
serie = df['truck_id'].value_counts()
serie

163    204
160    188
378    150
266    142
315    128
      ...
244      1
399      1
221      1
122      1
112      1
Name: truck_id, Length: 240, dtype: int64

In [6]:
df.loc[df['truck_id'] == 163].head(15)

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,truck_id,load_id
59,2023-11-18T10:53:18,600.0,157.643072,320.548498,31.966457,163,10171
60,2023-11-18T10:53:18,990.0,261.740632,527.724179,32.238699,163,10705
61,2023-11-18T10:53:18,2000.0,363.595437,1185.800408,19.930591,163,11036
62,2023-11-18T10:53:18,1650.0,381.091518,919.498900,26.939618,163,10458
63,2023-11-18T10:53:18,1375.0,568.888006,584.139126,63.302934,163,10329
97,2023-11-18T10:59:16,1329.0,429.663454,651.693150,42.854715,163,10021
160,2023-11-18T11:11:06,2300.0,551.806979,1266.806537,28.313284,163,10959
329,2023-11-18T11:35:06,1200.0,214.355172,714.235382,19.507695,163,11057
338,2023-11-18T11:37:26,1550.0,226.549211,959.022311,15.354907,163,10616
524,2023-11-18T11:57:59,1100.0,322.196820,563.625493,37.157285,163,10637
573,2023-11-18T12:05:45,1325.0,321.556604,727.132896,28.744648,163,10560
607,2023-11-18T12:10:31,2600.0,718.728790,1363.240007,34.269366,163,10472
679,2023-11-18T12:23:56,700.0,171.552972,382.932629,29.119856,163,10921
867,2023-11-18T12:41:48,1700.0,425.105994,923.836237,29.909943,163,10241
1010,2023-11-18T12:55:45,2800.0,588.020651,1602.883586,23.845364,163,10969