In [1]:
import pandas as pd

df = pd.read_csv('trucks.csv')
df

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
0,15,Truck,2023-11-18T08:12:28,101,34.294167,-85.879997,Reefer,Long
1,16,Truck,2023-11-18T08:19:59,134,39.913216,-86.210175,Flatbed,Short
2,17,Truck,2023-11-18T08:20:41,121,36.077549,-87.120148,Van,Short
3,19,Truck,2023-11-18T08:28:02,106,32.505447,-85.605026,Van,Long
4,20,Truck,2023-11-18T08:29:42,147,35.794121,-86.377892,Flatbed,Long
...,...,...,...,...,...,...,...,...
1995,2496,Truck,2023-11-18T22:58:03,238,42.132271,-72.051010,Reefer,Short
1996,2497,Truck,2023-11-18T22:59:24,353,42.473766,-79.276031,Flatbed,Short
1997,2498,Truck,2023-11-18T22:59:27,290,39.569466,-76.139107,Van,Short
1998,2499,Truck,2023-11-18T22:59:35,241,38.293682,-85.542076,Flatbed,Long
1999,2500,Truck,2023-11-18T22:59:56,237,37.807678,-80.408539,Van,Short

In [2]:
serie = df['truckId'].value_counts()
serie

366    19
106    14
292    14
110    14
331    14
       ..
123     1
400     1
197     1
219     1
222     1
Name: truckId, Length: 322, dtype: int64

In [3]:
df.loc[df['truckId'] == 163]

,seq,type,timestamp,truckId,positionLatitude,positionLongitude,equipType,nextTripLengthPreference
144,230,Truck,2023-11-18T10:13:14,163,39.345943,-84.611092,Van,Long
221,348,Truck,2023-11-18T10:53:18,163,39.058472,-84.469650,Van,Long
988,1450,Truck,2023-11-18T16:09:41,163,39.803234,-83.208191,Van,Long
1092,1575,Truck,2023-11-18T16:49:44,163,40.224995,-82.929070,Van,Long
1215,1709,Truck,2023-11-18T17:29:50,163,40.777355,-82.416084,Van,Long
1418,1912,Truck,2023-11-18T18:38:20,163,41.035187,-81.755264,Van,Long
1466,1961,Truck,2023-11-18T18:53:19,163,41.036072,-81.504890,Van,Long
1816,2316,Truck,2023-11-18T21:20:21,163,41.204025,-79.921600,Van,Long
1893,2393,Truck,2023-11-18T22:00:23,163,41.170616,-79.101173,Van,Long
1952,2452,Truck,2023-11-18T22:30:25,163,41.083035,-78.506371,Van,Long

In [4]:
df = pd.read_csv('notifications.csv')
df

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,heuristic_wage,truck_id,load_id,type
0,2023-11-18T16:05:19,850.0,137.178840,516.537073,17.262313,17.262313,140,10076,Notification
1,2023-11-18T16:05:19,850.0,130.044495,521.706887,16.202378,16.202378,396,10076,Notification
2,2023-11-18T16:05:46,850.0,165.982228,495.665052,21.766402,21.766402,200,10076,Notification
3,2023-11-18T16:08:53,850.0,228.127728,450.632081,32.905563,58.736761,411,10076,Notification
4,2023-11-18T16:09:41,1790.0,644.612388,829.991023,50.482239,50.482239,163,10033,Notification
...,...,...,...,...,...,...,...,...,...
1210,2023-11-18T22:55:34,1200.0,556.571611,466.252456,77.591344,77.591344,189,10476,Notification
1211,2023-11-18T22:57:19,700.0,198.593102,363.338332,35.527635,35.527635,328,10298,Notification
1212,2023-11-18T22:57:19,900.0,342.642292,403.882397,55.144144,55.144144,328,10806,Notification
1213,2023-11-18T22:59:27,332.5,177.640095,112.217322,102.895043,75.932627,290,10009,Notification
1214,2023-11-18T22:59:35,1575.0,460.609890,807.529065,37.075623,37.075623,241,10169,Notification

In [5]:
serie = df['truck_id'].value_counts()
serie

163    46
411    36
160    35
396    31
266    28
       ..
148     1
167     1
114     1
115     1
410     1
Name: truck_id, Length: 158, dtype: int64

In [6]:
df.loc[df['truck_id'] == 163]

,timestamp,price,estimated_profit,estimated_distance,estimated_wage,heuristic_wage,truck_id,load_id,type
4,2023-11-18T16:09:41,1790.00,644.612388,829.991023,50.482239,50.482239,163,10033,Notification
18,2023-11-18T16:14:28,1600.00,855.743950,539.315978,103.136860,103.136860,163,10222,Notification
23,2023-11-18T16:14:52,863.00,220.637622,465.479984,30.810015,30.810015,163,10961,Notification
29,2023-11-18T16:16:38,1647.00,697.848498,687.790944,65.950494,65.950494,163,10183,Notification
46,2023-11-18T16:25:21,1700.00,580.091907,811.527604,46.462959,46.462959,163,10217,Notification
65,2023-11-18T16:40:33,1400.00,461.223371,680.272920,44.069841,44.069841,163,10047,Notification
111,2023-11-18T16:49:44,1790.00,686.832792,799.396527,55.847292,55.847292,163,10033,Notification
112,2023-11-18T16:49:44,1600.00,809.258764,573.000896,91.800589,91.800589,163,10222,Notification
113,2023-11-18T16:49:44,1647.00,681.413886,699.700083,63.301268,63.301268,163,10183,Notification
114,2023-11-18T16:49:44,1700.00,619.948070,782.646326,51.487656,51.487656,163,10217,Notification
243,2023-11-18T17:26:05,600.00,136.470804,335.890721,26.409191,26.409191,163,10973,Notification
275,2023-11-18T17:29:50,1790.00,718.473843,776.468230,60.145152,60.145152,163,10033,Notification
276,2023-11-18T17:29:50,1600.00,734.305844,627.314606,76.086033,76.086033,163,10222,Notification
277,2023-11-18T17:29:50,863.00,226.266797,461.400871,31.875410,31.875410,163,10961,Notification
278,2023-11-18T17:29:50,1647.00,621.928648,742.805327,54.422553,54.422553,163,10183,Notification
279,2023-11-18T17:29:50,1700.00,646.299563,763.551041,55.018551,55.018551,163,10217,Notification
479,2023-11-18T18:38:20,1790.00,686.537870,799.610239,55.808392,55.808392,163,10033,Notification
480,2023-11-18T18:38:20,1600.00,671.671502,672.701810,64.900446,64.900446,163,10222,Notification
481,2023-11-18T18:38:20,863.00,229.143164,459.316548,32.427104,32.427104,163,10961,Notification
482,2023-11-18T18:38:20,1647.00,557.604182,789.417259,45.912692,45.912692,163,10183,Notification
483,2023-11-18T18:38:20,1700.00,611.640090,788.666601,50.409902,50.409902,163,10217,Notification
536,2023-11-18T18:53:19,1790.00,666.405453,814.198947,53.201192,82.880002,163,10033,Notification
537,2023-11-18T18:53:19,1600.00,654.469085,685.167330,62.087739,92.365119,163,10222,Notification
538,2023-11-18T18:53:19,863.00,235.080186,455.014358,33.581824,85.005136,163,10961,Notification
968,2023-11-18T21:20:21,850.00,163.216498,497.669204,21.317518,21.317518,163,10076,Notification
969,2023-11-18T21:20:21,1790.00,538.018982,907.232622,38.547152,38.547152,163,10033,Notification
970,2023-11-18T21:20:21,1600.00,527.672697,777.048771,44.139733,44.139733,163,10222,Notification
971,2023-11-18T21:20:21,863.00,196.029377,483.312045,26.363733,26.363733,163,10961,Notification
972,2023-11-18T21:20:21,1647.00,402.060201,902.130289,28.969112,28.969112,163,10183,Notification
973,2023-11-18T21:20:21,650.75,155.715776,358.720453,28.215635,28.215635,163,10544,Notification
974,2023-11-18T21:20:21,1700.00,462.133926,897.004401,33.487801,33.487801,163,10217,Notification
1074,2023-11-18T22:00:23,850.00,215.338406,459.899706,30.434889,30.434889,163,10076,Notification
1075,2023-11-18T22:00:23,1790.00,467.410501,958.398188,31.700480,31.700480,163,10033,Notification
1076,2023-11-18T22:00:23,1600.00,464.935028,822.510850,36.742101,36.742101,163,10222,Notification
1077,2023-11-18T22:00:23,863.00,157.978174,510.885381,20.099579,20.099579,163,10961,Notification
1078,2023-11-18T22:00:23,1647.00,334.494221,951.091144,22.860190,22.860190,163,10183,Notification
1079,2023-11-18T22:00:23,650.75,226.636445,307.328663,47.933599,47.933599,163,10544,Notification
1080,2023-11-18T22:00:23,1100.00,298.733544,580.627867,33.442557,33.442557,163,11056,Notification
1146,2023-11-18T22:30:25,850.00,242.211274,440.426613,35.746552,35.746552,163,10076,Notification
1147,2023-11-18T22:30:25,1790.00,415.095037,996.307944,27.081163,27.081163,163,10033,Notification
1148,2023-11-18T22:30:25,1600.00,420.450078,854.746320,31.973528,31.973528,163,10222,Notification
1149,2023-11-18T22:30:25,863.00,126.780482,533.492405,15.446764,15.446764,163,10961,Notification
1150,2023-11-18T22:30:25,1647.00,286.147524,986.124983,18.861290,18.861290,163,10183,Notification
1151,2023-11-18T22:30:25,650.75,278.546253,269.712860,67.128821,67.128821,163,10544,Notification
1152,2023-11-18T22:30:25,600.00,195.685169,292.981761,43.414088,43.414088,163,10499,Notification
1153,2023-11-18T22:30:25,1100.00,330.400481,557.680811,38.509540,38.509540,163,11056,Notification